div{
    text-align: center;
    display: block;
    margin:150px;
}

button{
    background-color: #1D8CDC;
    color: white;
    font-size: 30px;
    padding: 0;
    width: 350px;
    height: 150px;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

button:hover{
    background-color:white;
    border: 3px solid #1D8CDC;
    color: #1D8CDC;
    
}

