
hr{
    margin-top: 150px;
    color: yellow;
}

button{

    height: 200px;
    width: 300px;
    margin-top: 50px;
    border-radius: 100%;
    border-style :none;
    margin-left: 10px;
    box-shadow:10px 10px 5px #888888;
    font-size: 20px;
}

#Content
{
    margin-top: 50px;
    text-align: center;
}

