<div id ="Container">
 <form>  
 
  <div class ="form group">
     <label> Name </label>
     <input [(ngModel)]="product.name" type="text" name="name" >
  </div>
  
  <div class ="form group">
      <label> Type </label>
      <input  [(ngModel)]="product.type" type="text" name="type">
  </div>

  <div class ="form group">
      <label> Cost </label>
      <input [(ngModel)]="product.cost" type="text"  name="cost">
  </div>

  <div class ="form group">
      <label> Discount </label>
      <input [(ngModel)]="product.discount" type="text"  name="discount">
  </div>
   <div class ="form group">
      <label> OfferList </label>
      <input [(ngModel)]="product.include" type="checkbox"  name="offlistinclude">
  </div>

  <br><br><br>
  <div class ="form group">
      <button (click)="onAddProduct()"> Add </button>
  </div>

 </form> 

</div>