#AdminHeader{
    margin-top: 150px;
    border :black solid;
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    text-align: center;
    
}

#AdminContent{

   border :black solid;
   width: 80%;
   height: 500px;
   margin-left: 10%;
   margin-top: 30px;
   padding: 20px;
   overflow: auto;
}

