<div id="offerList" class="list">
   <h1>{{title}}</h1>
    <div *ngFor= "let product of products" class ="productGroup">  
         <div *ngIf="product.include && product.inStock">
              <div id="leftContent">  
                  <p><label>Name : {{product.name}}</label></p>
                  <p><label>Type : {{product.type}}</label></p>
                  <p><label>Cost : {{product.cost}}</label></p>
                  <p><label>Discount : {{product.discount}}</label></p>
              </div>
              <div id="rightContent">
                  <p><button class="formButton" (click)="onButtonClick(product)">{{product.cart ? ' Remove from Cart ' : ' Add to Cart '}}</button></p>
              </div>  
              <hr style="width : 90%;">
          </div>
   </div>  
</div>

<!--<div id="recentlySearched" class="list">
  <h1>Recently Searched</h1>
     <div *ngFor= "let product of recentProducts" class ="productGroup">  
              <div id="leftContent">  
                  <p><label>Name : {{product.name}}</label></p>
                  <p><label>Type : {{product.type}}</label></p>
                  <p><label>Cost : {{product.cost}}</label></p>
                  <p><label>Discount : {{product.discount}}</label></p>
              </div>
              <div id="rightContent">
                  <p><button (click)="onButtonClick(product)">{{product.cart ? 'remove' : 'add'}}</button></p>
              </div>  
              <hr style="width : 90%;">
     </div>
 </div>  
      -->