.buttonDesign{
     width: 140px;
    height: 40px;
    font-size: larger;

}

.buttonDesign:hover{
    box-shadow: 5px 5px 5px black;
}

thead {color: #337AB7;
font-size: larger;
font-family: initial;
}

th,tr{
    text-align: center;
}

h1{
       font-size: -webkit-xxx-large;
    font-family: initial;
    color: #4f82ab;
}