<div *ngFor= "let product of products" class ="productGroup"> 

<div >
  <div id="leftContent">  
   <p><label>Name : {{product.name}}</label></p>
   <p><label>Type : {{product.type}}</label></p>
   <p><label>Cost : {{product.cost}}</label></p>
   <p><label>Discount : {{product.discount}}</label></p>
  </div>
 <div id="rightContent"> 
   <p><button class="searchButton" (click)="onEditClicked(product)"> Edit button </button></p> 
 </div>  
   <hr>
 </div>  
</div>

<DIV id="myModal" class="modal">
     <DIV id="modal-content">
          <form>  
                  
                    <div class ="form group">
                      <label class="lbl" > Name </label>
                      <input class="inp"  [(ngModel)]="product.name" type="text" name="name" >
                    </div>
                    
                    <div class ="form group">
                        <label class="lbl" > Type </label>
                        <input class="inp"  [(ngModel)]="product.type" type="text" name="type">
                    </div>

                    <div class ="form group">
                        <label class="lbl" > Cost </label>
                        <input class="inp" [(ngModel)]="product.cost" type="text"  name="cost">
                    </div>

                    <div class ="form group">
                        <label class="lbl" > Discount </label>
                        <input class="inp" [(ngModel)]="product.discount" type="text"  name="discount">
                    </div>
                    <div class ="form group">
                        <label class="lbl" > OfferList </label>
                        <input class="inp" [(ngModel)]="product.include" type="checkbox"  name="offlistinclude">
                    </div>
                    <div class ="form group">
                        <label class="lbl" style="margin-left:-120px;"> InStock </label>
                        <input class="inp" [(ngModel)]="product.inStock" type="checkbox"  name="InStock">
                    </div>
          <br><br><br>
          <div>
          <button class="formButton" (click)="closeModal()">Close</button>
          <button class="formButton" (click)="onSaveClicked()">Save</button>
          <button class="formButton" (click)="onDeleteClicked()">Delete</button>
          </div>   
          </form> 
     </DIV>
  </DIV>
  <div id="overlay"></div>